#whatif > .row {
  display: flex;
  flex-wrap: wrap;
}

.tab-pane {
  margin-top: 10px;
}

.widget > .widget-footer, .widget > .widget-header, .widget > .widget-content {
  position: relative;
}

#details-box {
  margin-top: 30px;
}