@font-face {
  font-family: 'open_sans_300';
  src: url('fonts/open_sans_300.eot');
  src: url('fonts/open_sans_300.eot?#iefix') format('embedded-opentype'), url('fonts/open_sans_300.woff') format('woff'), url('fonts/open_sans_300.ttf') format('truetype'), url('fonts/open_sans_300.svg#open_sans_100') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sans_300_italic';
  src: url('fonts/open_sans_300_italic.eot');
  src: url('fonts/open_sans_300_italic.eot?#iefix') format('embedded-opentype'), url('fonts/open_sans_300_italic.woff') format('woff'), url('fonts/open_sans_300_italic.ttf') format('truetype'), url('fonts/open_sans_300_italic.svg#open_sans_300_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sans_400';
  src: url('fonts/open_sans_400.eot');
  src: url('fonts/open_sans_400.eot?#iefix') format('embedded-opentype'), url('fonts/open_sans_400.woff') format('woff'), url('fonts/open_sans_400.ttf') format('truetype'), url('fonts/open_sans_400.svg#open_sans_400') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sans_400_italic';
  src: url('fonts/open_sans_400_italic.eot');
  src: url('fonts/open_sans_400_italic.eot?#iefix') format('embedded-opentype'), url('fonts/open_sans_400_italic.woff') format('woff'), url('fonts/open_sans_400_italic.ttf') format('truetype'), url('fonts/open_sans_400_italic.svg#open_sans_400_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sans_600';
  src: url('fonts/open_sans_600.eot');
  src: url('fonts/open_sans_600.eot?#iefix') format('embedded-opentype'), url('fonts/open_sans_600.woff') format('woff'), url('fonts/open_sans_600.ttf') format('truetype'), url('fonts/open_sans_600.svg#open_sans_600') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sans_600_italic';
  src: url('fonts/open_sans_600_italic.eot');
  src: url('fonts/open_sans_600_italic.eot?#iefix') format('embedded-opentype'), url('fonts/open_sans_600_italic.woff') format('woff'), url('fonts/open_sans_600_italic.ttf') format('truetype'), url('fonts/open_sans_600_italic.svg#open_sans_600_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sans_700';
  src: url('fonts/open_sans_700.eot');
  src: url('fonts/open_sans_700.eot?#iefix') format('embedded-opentype'), url('fonts/open_sans_700.woff') format('woff'), url('fonts/open_sans_700.ttf') format('truetype'), url('fonts/open_sans_700.svg#open_sans_700') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sans_700_italic';
  src: url('fonts/open_sans_700_italic.eot');
  src: url('fonts/open_sans_700_italic.eot?#iefix') format('embedded-opentype'), url('fonts/open_sans_700_italic.woff') format('woff'), url('fonts/open_sans_700_italic.ttf') format('truetype'), url('fonts/open_sans_700_italic.svg#open_sans_700_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sans_800';
  src: url('fonts/open_sans_800.eot');
  src: url('fonts/open_sans_800.eot?#iefix') format('embedded-opentype'), url('fonts/open_sans_800.woff') format('woff'), url('fonts/open_sans_800.ttf') format('truetype'), url('fonts/open_sans_800.svg#open_sans_800') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sans_800_italic';
  src: url('fonts/open_sans_800_italic.eot');
  src: url('fonts/open_sans_800_italic.eot?#iefix') format('embedded-opentype'), url('fonts/open_sans_800_italic.woff') format('woff'), url('fonts/open_sans_800_italic.ttf') format('truetype'), url('fonts/open_sans_800_italic.svg#open_sans_800_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/entypo.eot?31365046');
  src: url('fonts/entypo.eot?31365046#iefix') format('embedded-opentype'), url('fonts/entypo.woff?31365046') format('woff'), url('fonts/entypo.ttf?31365046') format('truetype'), url('fonts/entypo.svg?31365046#entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontello.eot');
  src: url('fonts/fontello.eot?#iefix') format('embedded-opentype'), url('fonts/fontello.woff2') format('woff2'), url('fonts/fontello.woff') format('woff'), url('fonts/fontello.ttf') format('truetype'), url('fonts/fontello.svg?#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
