<!DOCTYPE html>
<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge; IE=11; IE=10; IE=9;" />
        <link rel="icon" href="http://hosted.zeroedin.com/favicon.ico" type="image/x-icon">
        <meta charset="utf-8" />
        <title>ZeroedIn Workforce Intelligence</title>
        <link rel="stylesheet" type="text/css" href="files/dashboard.css" />
        <link rel="stylesheet" type="text/css" href="files/zoneCss.css" />
        <link rel="stylesheet" type="text/css" href="files/flightrisk.css" />
        
        <script type="text/javascript" src="files/custom-modernizr.js"></script>
        <script type="text/javascript" src="files/jquery.js"></script>
        <script type="text/javascript" src="files/all.js"></script>
        <script type="text/javascript" src="files/common.html"></script>
        <script type="text/javascript" src="files/commons.js"></script>
        <script type="text/javascript" src="files/layout.js"></script>
        {{ suppressDependencies("jquery") }}
        {{ headContent() }}
    </head>
    <body class="screen">
        <div>
            <div role="navigation" style="position: absolute" id="dash-header" class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="row header-top-row">
                        <div class="col-md-6">
                            <a href="#" class="navbar-brand">
                                <img src="files/logo.png" alt="ZeroedIn Workforce Intelligence" title="ZeroedIn Workforce Intelligence" class="col-md-12">
                            </a>
                        </div>
                        <ul class="navbar-right nav nav-pills dash-account-nav">
                            <li>
                                <div id="user-menu-dropdown" class="btn-group">
                                    <button type="button" data-toggle="dropdown" id="user-menu-dropdown-toggle" class="btn btn-default dropdown-toggle">
                                        <svg class="svg-inline--fa fa-caret-down fa-w-10" aria-hidden="true" data-prefix="fas" data-icon="caret-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"></path></svg><!-- <i class="far fas fa-caret-down">                                        </i> -->
                                        <span class="_button_text">
                                            <span>Shawn Squire</span>
                                        </span>
                                    </button>
                                    <ul role="menu" id="user-menu-dropdown-menu" class="dropdown-menu">
                                        <li>
                                            <a id="header-link-my-documents" href="#">
                                                <span>My Documents</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a id="header-link-user-preferences" href="#">Preferences</a>
                                        </li>
                                        <li>
                                            <a id="header-link-exit-app" href="#">Exit</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div id="help-menu-dropdown" class="btn-group">
                                    <button type="button" data-toggle="dropdown" id="help-menu-dropdown-toggle" class="btn btn-default dropdown-toggle">
                                        <svg class="svg-inline--fa fa-question-circle fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="question-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z"></path></svg><!-- <i class="far fas fa-question-circle">                                        </i> -->
                                    </button>
                                    <ul role="menu" id="help-menu-dropdown-menu" class="dropdown-menu">
                                        <li>
                                            <a target="_blank" id="header-link-help" href="#">Help</a>
                                        </li>
                                        <li>
                                            <a id="header-link-support" href="http://www.zeroedin.com/">Support</a>
                                        </li>
                                        <li>
                                            <a id="header-link-about" href="#">About</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="pull-right">
                                <button type="button" data-toggle="collapse" data-target="#header-bottom-row-navbar" class="btn navbar-toggle">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar">                                    </span>
                                    <span class="icon-bar">                                    </span>
                                    <span class="icon-bar">                                    </span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="navbar-header"></div>
                <div class="container-fluid">
                    <div id="header-bottom-row-navbar" class="collapse navbar-collapse header-bottom-row">
                        <span onclick="var toggleSideBarEvent = document.createEvent('Event'); toggleSideBarEvent.initEvent('toggleSideBar', false, false); window.dispatchEvent(toggleSideBarEvent);" class="nav navbar-nav pull-left hamburger">
<div class="global-filters"><svg class="svg-inline--fa fa-bars fa-w-14 hamburger-menu" aria-hidden="true" data-prefix="fas" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg><!-- <a class="hamburger-menu fas fa-bars"></a> --></div>
                        </span>
                        <ul id="dash-main-nav" class="nav navbar-nav">
                            <li class="link-reports first-li-item">
                                <a href="#">View</a>
                            </li>
                            <li class="link-reports">
                                <a href="#">Report</a>
                            </li>
                            <li class="active link-reports">
                                <a href="#">Predict</a>
                            </li>
                            <li class="link-admin">
                                <a href="#">Setup</a>
                            </li>
                        </ul>
                        <ul id="dash-main-nav-context" class="nav navbar-nav pull-right" style="display:none;"></ul>
                    </div>
                </div>
            </div>
            <div class="dash-container">
                <div id="dash-main" class="tab-reports nav-tabs dash-main">
                        <div id="sidebar" class="dash-sidebar" style="width: 200px">
                            <div class="dash-sidebar-content">
                                <ul class="dash-sidenav nav">
                                    <li>
                                        <div class="panel panel-default sidebar">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" title="View Dashboards" class="pull-left">
                                                        Models
                                                    </a>
                                                </h4>
                                            </div>
                                            <div class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <ul class="links-menu dash-sidenav">
                                                        <li>
                                                            <a class="active">Flight Risk</a>
                                                        </li>
                                                        <li>
                                                            <a>Pay Rate</a>
                                                        </li>
                                                        <li>
                                                            <a>Rising Star</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>    
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="dash-sidebar-expander" onclick="var toggleSideBarEvent = new Event('toggleSideBar'); document.dispatchEvent(toggleSideBarEvent);" class="dash-sidebar-expander" style="z-index:999; left: 200px"></div>
                    <div id="dashboard-content" role="main" class="dashboard-content" style="position: relative;">
                        <div class="container-fluid">
                            {{ explain }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="dash-footer" class="hidden-print">
                <div>
                    Powered by ZeroedIn
                </div>
            </div>
        </div>
    </body>
</html>