<!DOCTYPE html>
<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge; IE=11; IE=10; IE=9;" />
        <link rel="icon" href="http://hosted.zeroedin.com/favicon.ico" type="image/x-icon">
        <meta charset="utf-8" />
        <title>ZeroedIn Workforce Intelligence</title>
        <link rel="stylesheet" type="text/css" href="files/dashboard.css" />
        <link rel="stylesheet" type="text/css" href="files/zoneCss.css" />
        <link rel="stylesheet" type="text/css" href="files/flightrisk.css" />
        
        <script type="text/javascript" src="files/custom-modernizr.js"></script>
        <script type="text/javascript" src="files/jquery.js"></script>
        <script type="text/javascript" src="files/all.js"></script>
        <script type="text/javascript" src="files/common.html"></script>
        <script type="text/javascript" src="files/commons.js"></script>
        <script type="text/javascript" src="files/layout.js"></script>
        {{ suppressDependencies("jquery") }}
        {{ headContent() }}
    </head>
    <body class="screen">
        <div class="container-fluid" style="padding-top: 20px">
            {{ explain }}
        </div>
    </body>
</html>